<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="PickUpObject_URDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.6759E-19 5.3414E-18 0.030572"
        rpy="0 0 0" />
      <mass
        value="0.61138" />
      <inertia
        ixx="0.00035838"
        ixy="1.1124E-21"
        ixz="-3.49E-21"
        iyy="0.00035838"
        iyz="1.0196E-20"
        izz="0.00041548" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://PickUpObject_URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://PickUpObject_URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>